<footer class="print--hide">
<h2 class="visuallyhidden">Footer links</h2>
<div class="footer">
<div class="wrapper">
<nav>
<div class="footer-nav col-wrap">
<div class="col col--lg-one-third col--md-one-third">
<h3 class="footer-nav__heading">Help</h3>
<ul class="footer-nav__list">
<li class="footer-nav__item">
<a href="/help/accessibility">Accessibility</a>
</li>
<li class="footer-nav__item">
<a href="/help/cookiesandprivacy">Cookies and privacy</a>
</li>
<li class="footer-nav__item">
<a href="/help/termsandconditions">Terms and conditions</a>
</li>
</ul>
</div>
<div class="col col--lg-one-third col--md-one-third">
<h3 class="footer-nav__heading">About ONS</h3>
<ul class="footer-nav__list">
<li class="footer-nav__item">
<a href="/aboutus/whatwedo">What we do</a>
</li>
<li class="footer-nav__item">
<a href="/aboutus/careers">Careers</a>
</li>
<li class="footer-nav__item">
<a href="/aboutus/contactus">Contact us</a>
</li>
<li class="footer-nav__item">
<a href="/news">News</a>
</li>
<li class="footer-nav__item">
<a href="/aboutus/transparencyandgovernance/freedomofinformationfoi">Freedom of Information</a>
</li>
</ul>
</div>
<div class="col col--lg-one-third col--md-one-third">
<h3 class="footer-nav__heading">Connect with us</h3>
<ul class="footer-nav__list">
<li class="footer-nav__item">
<a href="https://twitter.com/ONS" class="icon--hide" target="_blank">Twitter</a>
</li>
<li class="footer-nav__item">
<a href="https://www.facebook.com/ONS" class="icon--hide" target="_blank">Facebook</a>
</li>
<li class="footer-nav__item">
<a href="https://www.linkedin.com/company/office-for-national-statistics" class="icon--hide" target="_blank">LinkedIn</a>
</li>
<li class="footer-nav__item">
<a href="https://public.govdelivery.com/accounts/UKONS/subscribers/new" class="icon--hide" target="_blank">Email alerts</a>
</li>
</ul>
</div>
</div>
</nav>
</div>
<div class="wrapper">
<div class="footer-license">
<img class="footer-license__img" alt="OGL" width="60" src="https://cdn.ons.gov.uk/assets/images/ogl.png">
<p class="footer-license__text margin-left-sm--0">
All content is available under the <a class="icon--hide" href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" target="_blank">Open Government Licence v3.0</a> <span class="icon icon-external--light-small"></span>, except where otherwise stated
</p>
</div>
</div>
</div>
<div id="viewport-sm" class="js-viewport-size"></div><div id="viewport-md" class="js-viewport-size"></div><div id="viewport-lg" class="js-viewport-size"></div></footer>
