<div class="page-header slate">
<div class="wrapper">
<h1 class="page-header__title flush--half--bottom">{{ .Error.Title }}</h1>
</div>

</div>
<div class="wrapper panel--mar">
<div class="grid-wrap">
<div class="grid-col desktop-grid-full-width">
<article>
<div class="box box--padded box--red-dark box--red-dark--separated-left sectioned">

<div class="grid-wrap">
<div class="grid-col desktop-grid-two-thirds">
{{ .Error.Description | safeHTML }}
<p>If you still encounter problems please <a href="mailto:web.comments@ons.gov.uk" title="Contact Us">contact us</a>. We apologise for any inconvenience this may have caused.</p>
</div>
</div>
</div>
</article>
</div>

</div>

</div>
